:root{
    --primaryColor: rgba(197, 197, 197, 0.773); 
    --secondaryColor: green; 
    --accentColor:  rgba(0, 0, 255, 0.244);
    --hoverColor: rgba(0, 0, 255, 0.244);
}

/*
General styles
*/
body{
    background-color: var(--primaryColor);
    padding-left: 20px;
    padding-right: 20px;
}

body, input, button{
    font-family: fantasy;
}

input:focus{
    outline: black;
}
input:active{
    outline: black; 
}

.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 95vh;
    width: 99vw; 
}

.row{
    display: flex;
    
}
.placeholder{
    flex-grow: 2;
}

/*
search.php styles
*/
.student-card{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px; 
    gap: 15px; 

    border: 1px solid black;
}
.student-id, .student-name{
    margin: 0px; 
    width: 200px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-result:hover{
    background-color: var(--hoverColor); 
}
